.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #2b282e ; 
  border: 1px solid #4d6b0f ;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #4d6b0f; 
  border-color: #2b282e;
}